* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.pagination{
    width: 82%;
    margin: 1rem auto;
    display: flex;
    
    gap: 1rem;
    button{
        padding: 1rem;
        background-color: black;
        color: #fff;
        border: 1px solid black;
        transition: 1s;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
}
.currentPage{
    width: 82%;
    margin: 0 auto;
    h4{
        font-size: 1.5rem;
    }
}

  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }